USE [master]
GO
/****** Object:  Database [SistemaContabilidade]    Script Date: 27/03/2025 21:37:55 ******/
CREATE DATABASE [SistemaContabilidade]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaContabilidade', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaContabilidade.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaContabilidade_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaContabilidade_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaContabilidade].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaContabilidade]
GO
/****** Object:  Table [dbo].[CustosPeca]    Script Date: 27/03/2025 21:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustosPeca](
	[IdCusto] [int] IDENTITY(1,1) NOT NULL,
	[IdProduto] [int] NULL,
	[CodigoPeca] [char](8) NULL,
	[TempoProducao] [time](0) NULL,
	[CustoProducao] [float] NULL,
	[Lucro] [float] NULL,
	[Prejuizo] [float] NULL,
 CONSTRAINT [PK_CustosPeca] PRIMARY KEY CLUSTERED 
(
	[IdCusto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustosPeca] ON 

INSERT [dbo].[CustosPeca] ([IdCusto], [IdProduto], [CodigoPeca], [TempoProducao], [CustoProducao], [Lucro], [Prejuizo]) VALUES (1, 1, N'P1234569', CAST(N'14:30:00' AS Time), 0, 0, 0)
SET IDENTITY_INSERT [dbo].[CustosPeca] OFF
GO
/****** Object:  StoredProcedure [dbo].[InsercaoCustosPeca]    Script Date: 27/03/2025 21:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsercaoCustosPeca]
	@_IdProduto int,
	@_CodigoPeca char(8),
	@_TempoProducao time(0),
	@_CustoProducao float,
	@_Lucro float,
	@_Prejuizo float
AS
BEGIN
	 SET NOCOUNT ON;
    DECLARE @_IdCusto INT;

    BEGIN TRY
        BEGIN TRANSACTION;
		
		SELECT @_IdCusto = IdCusto
		FROM CustosPeca
		WHERE CodigoPeca = @_CodigoPeca 
			AND IdProduto=@_IdProduto;

		IF @_IdCusto IS NOT NULL
        BEGIN	
			UPDATE CustosPeca
			SET IdProduto = @_IdProduto, CodigoPeca = @_CodigoPeca, TempoProducao=@_TempoProducao, CustoProducao=@_CustoProducao, Lucro=@_Lucro, Prejuizo=@_Prejuizo
			WHERE IdCusto = @_IdCusto;
        END
        ELSE
        BEGIN
            INSERT INTO CustosPeca (IdProduto, CodigoPeca, TempoProducao, CustoProducao, Lucro, Prejuizo)
            VALUES (@_IdProduto, @_CodigoPeca, @_TempoProducao, @_CustoProducao, @_Lucro, @_Prejuizo);
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
USE [master]
GO
