USE [master]
GO
/****** Object:  Database [SistemaDesktop]    Script Date: 26/03/2025 21:58:33 ******/
CREATE DATABASE [SistemaDesktop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaDesktop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaDesktop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaDesktop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaDesktop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaDesktop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaDesktop]
GO
/****** Object:  Table [dbo].[ResultadosDescricao]    Script Date: 26/03/2025 21:58:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadosDescricao](
	[IdResultado] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [char](50) NULL,
 CONSTRAINT [PK_ResultadosDescricao] PRIMARY KEY CLUSTERED 
(
	[IdResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teste]    Script Date: 26/03/2025 21:58:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teste](
	[IdTeste] [int] IDENTITY(1,1) NOT NULL,
	[DataHora] [datetime2](0) NULL,
	[CodigoPeca] [char](8) NULL,
	[TempoProducao] [time](0) NULL,
	[ResultadoTeste] [int] NULL,
 CONSTRAINT [PK_Teste] PRIMARY KEY CLUSTERED 
(
	[IdTeste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ResultadosDescricao] ON 

INSERT [dbo].[ResultadosDescricao] ([IdResultado], [Descricao]) VALUES (1, N'Ok                                                ')
INSERT [dbo].[ResultadosDescricao] ([IdResultado], [Descricao]) VALUES (2, N'Falha na inspeção visual                          ')
INSERT [dbo].[ResultadosDescricao] ([IdResultado], [Descricao]) VALUES (3, N'Falha na inspeção de resistência                  ')
SET IDENTITY_INSERT [dbo].[ResultadosDescricao] OFF
GO
SET IDENTITY_INSERT [dbo].[Teste] ON 

INSERT [dbo].[Teste] ([IdTeste], [DataHora], [CodigoPeca], [TempoProducao], [ResultadoTeste]) VALUES (1, CAST(N'2025-03-26T21:32:15.0000000' AS DateTime2), N'aa111111', CAST(N'00:00:01' AS Time), 1)
SET IDENTITY_INSERT [dbo].[Teste] OFF
GO
ALTER TABLE [dbo].[Teste]  WITH CHECK ADD  CONSTRAINT [FK_Teste_ResultadosDescricao] FOREIGN KEY([ResultadoTeste])
REFERENCES [dbo].[ResultadosDescricao] ([IdResultado])
GO
ALTER TABLE [dbo].[Teste] CHECK CONSTRAINT [FK_Teste_ResultadosDescricao]
GO
USE [master]
GO
